name: openvpn_flutter
description: A plugin that allow you to connect OpenVPN service with Flutter
version: 1.3.4
homepage: https://github.com/nizwar/openvpn_flutter

environment:
  sdk: ">=2.15.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter 

dev_dependencies:
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter
    
flutter:
  plugin:
    platforms:
      android:
        package: id.laskarmedia.openvpn_flutter
        pluginClass: OpenVPNFlutterPlugin
      ios:
        pluginClass: OpenVPNFlutterPlugin
