<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="id.laskarmedia.openvpn_flutter">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" android:minSdkVersion="34" />
</manifest>
